In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv('fortune1000.csv',index_col='Rank')

In [51]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [52]:
sector = df.groupby(by='Sector')

In [53]:
df['Sector'].nunique()

21

In [54]:
sector.size().sort_values(ascending=False)

Sector
Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Food and Drug Stores             15
Telecommunications               15
Apparel                          15
dtype: int64

In [55]:
sector.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [56]:
sector.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [57]:
#returning the values and the indexes of each group as a dict
for i in sector.groups:
    print(i)

Aerospace & Defense
Apparel
Business Services
Chemicals
Energy
Engineering & Construction
Financials
Food and Drug Stores
Food, Beverages & Tobacco
Health Care
Hotels, Resturants & Leisure
Household Products
Industrials
Materials
Media
Motor Vehicles & Parts
Retailing
Technology
Telecommunications
Transportation
Wholesalers

# get_group() method

In [58]:
sector.get_group('Energy')

,Company,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,
2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...
981,WPX Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [59]:
sector.get_group('Apparel')

,Company,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,
91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,"Los Angeles, CA",2204,82,13500

In [60]:
sector.max()
sector.min()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloomin’ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [61]:
sector.sum()
sector.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

# Grouping by multiple columns

In [62]:
sector_industry = df.groupby(by=['Sector','Industry'])

In [63]:
sector_industry.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [64]:
sector_industry.mean()

                                                                        Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          17897.000000
Apparel             Apparel                                         6397.866667
Business Services   Advertising, marketing                         11374.000000
                    Diversified Outsourcing Services                4630.642857
                    Education                                       2495.000000
...                                                                         ...
Transportation      Trucking, Truck Leasing                         3994.444444
Wholesalers         Miscellaneous                                   8982.000000
                    Wholesalers: Diversified                        7045.520000
                    Wholesalers: Electronics and Office Equipment  18488.250000
                    Wholesalers: Food and Grocery                  18629.000000

                                                                       Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          1437.100000
Apparel             Apparel                                         549.066667
Business Services   Advertising, marketing                          774.500000
                    Diversified Outsourcing Services                307.500000
                    Education                                        23.000000
...                                                                        ...
Transportation      Trucking, Truck Leasing                         212.222222
Wholesalers         Miscellaneous                                    17.000000
                    Wholesalers: Diversified                        207.720000
                    Wholesalers: Electronics and Office Equipment   232.125000
                    Wholesalers: Food and Grocery                   194.333333

                                                                      Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                          48402.850000
Apparel             Apparel                                        23093.133333
Business Services   Advertising, marketing                         62050.000000
                    Diversified Outsourcing Services               50595.000000
                    Education                                      15585.000000
...                                                                         ...
Transportation      Trucking, Truck Leasing                        18939.555556
Wholesalers         Miscellaneous                                   9200.000000
                    Wholesalers: Diversified                        9353.240000
                    Wholesalers: Electronics and Office Equipment  20832.625000
                    Wholesalers: Food and Grocery                  19317.500000

[79 rows x 3 columns]

# the agg() method

In [65]:
sector.agg({"Revenue":"sum",'Profits':"mean"})

                              Revenue      Profits
Sector
Aerospace & Defense            357940  1437.100000
Apparel                         95968   549.066667
Business Services              272195   553.470588
Chemicals                      243897   754.266667
Energy                        1517809  -602.024590
Engineering & Construction     153983   204.000000
Financials                    2217159  1872.007194
Food and Drug Stores           483769  1117.266667
Food, Beverages & Tobacco      555967  1195.744186
Health Care                   1614707  1414.853333
Hotels, Resturants & Leisure   169546   827.880000
Household Products             234737   515.285714
Industrials                    497581   451.391304
Materials                      259145   102.976744
Media                          220764   973.880000
Motor Vehicles & Parts         482540  1079.083333
Retailing                     1465076   597.875000
Technology                    1377600  1769.343137
Telecommunications             461834  3242.466667
Transportation                 408508  1226.916667
Wholesalers                    444800   205.825000

In [66]:
sector.agg(['sum','mean','size'])

                              Revenue                    Profits               \
                                  sum          mean size     sum         mean
Sector
Aerospace & Defense            357940  17897.000000   20   28742  1437.100000
Apparel                         95968   6397.866667   15    8236   549.066667
Business Services              272195   5337.156863   51   28227   553.470588
Chemicals                      243897   8129.900000   30   22628   754.266667
Energy                        1517809  12441.057377  122  -73447  -602.024590
Engineering & Construction     153983   5922.423077   26    5304   204.000000
Financials                    2217159  15950.784173  139  260209  1872.007194
Food and Drug Stores           483769  32251.266667   15   16759  1117.266667
Food, Beverages & Tobacco      555967  12929.465116   43   51417  1195.744186
Health Care                   1614707  21529.426667   75  106114  1414.853333
Hotels, Resturants & Leisure   169546   6781.840000   25   20697   827.880000
Household Products             234737   8383.464286   28   14428   515.285714
Industrials                    497581  10816.978261   46   20764   451.391304
Materials                      259145   6026.627907   43    4428   102.976744
Media                          220764   8830.560000   25   24347   973.880000
Motor Vehicles & Parts         482540  20105.833333   24   25898  1079.083333
Retailing                     1465076  18313.450000   80   47830   597.875000
Technology                    1377600  13505.882353  102  180473  1769.343137
Telecommunications             461834  30788.933333   15   48637  3242.466667
Transportation                 408508  11347.444444   36   44169  1226.916667
Wholesalers                    444800  11120.000000   40    8233   205.825000

                                  Employees
                             size       sum          mean size
Sector
Aerospace & Defense            20    968057  48402.850000   20
Apparel                        15    346397  23093.133333   15
Business Services              51   1361050  26687.254902   51
Chemicals                      30    463651  15455.033333   30
Energy                        122   1188927   9745.303279  122
Engineering & Construction     26    406708  15642.615385   26
Financials                    139   3359948  24172.287770  139
Food and Drug Stores           15   1395398  93026.533333   15
Food, Beverages & Tobacco      43   1211632  28177.488372   43
Health Care                    75   2678289  35710.520000   75
Hotels, Resturants & Leisure   25   2484245  99369.800000   25
Household Products             28    646038  23072.785714   28
Industrials                    46   1545229  33591.934783   46
Materials                      43    638123  14840.069767   43
Media                          25    550314  22012.560000   25
Motor Vehicles & Parts         24   1082560  45106.666667   24
Retailing                      80   6227629  77845.362500   80
Technology                    102   3578949  35087.735294  102
Telecommunications             15    832468  55497.866667   15
Transportation                 36   1536793  42688.694444   36
Wholesalers                    40    525597  13139.925000   40

In [67]:
sector.agg({'Profits':['mean','max']})

                                  Profits
                                     mean    max
Sector
Aerospace & Defense           1437.100000   7608
Apparel                        549.066667   3273
Business Services              553.470588   6328
Chemicals                      754.266667   7685
Energy                        -602.024590  16150
Engineering & Construction     204.000000    803
Financials                    1872.007194  24442
Food and Drug Stores          1117.266667   5237
Food, Beverages & Tobacco     1195.744186   7351
Health Care                   1414.853333  18108
Hotels, Resturants & Leisure   827.880000   5920
Household Products             515.285714   7036
Industrials                    451.391304   4833
Materials                      102.976744    991
Media                          973.880000   8382
Motor Vehicles & Parts        1079.083333   9687
Retailing                      597.875000  14694
Technology                    1769.343137  53394
Telecommunications            3242.466667  17879
Transportation                1226.916667   7610
Wholesalers                    205.825000   1472

# iterating on a group

In [68]:
max_sector = pd.DataFrame(columns=df.columns)

In [69]:
max_sector

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [70]:
for sectors,data in sector:
    v = data.nlargest(1,'Profits')
    max_sector = max_sector.append(v)

In [71]:
max_sector

,Company,Sector,Industry,Location,Revenue,Profits,Employees
45,United Technologies,Aerospace & Defense,Aerospace and Defense,"Farmington, CT",61047,7608,197200
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
204,Visa,Business Services,Financial Data Services,"Foster City, CA",13880,6328,11300
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778,7685,49495
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
301,Lennar,Engineering & Construction,Homebuilders,"Miami, FL",9474,803,7749
23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
62,Coca-Cola,"Food, Beverages & Tobacco",Beverages,"Atlanta, GA",44294,7351,123200
86,Gilead Sciences,Health Care,Pharmaceuticals,"Foster City, CA",32639,18108,8000
534,Caesars Entertainment,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Las Vegas, NV",4654,5920,33000
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
93,3M,Industrials,Miscellaneous,"St. Paul, MN",30274,4833,89446
616,USG,Materials,"Building Materials, Glass","Chicago, IL",3776,991,8900
53,Disney,Media,Entertainment,"Burbank, CA",52465,8382,185000
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
67,American Airlines Group,Transportation,Airlines,"Fort Worth, TX",40990,7610,118500
320,HD Supply Holdings,Wholesalers,Wholesalers: Diversified,"Atlanta, GA",8779,1472,14000