In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('worldstats.csv',index_col=['country','year'])

In [25]:
df

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12
           2012  368802611.0  2.773270e+12
           2011  361031820.0  2.497945e+12
...                      ...           ...
Zimbabwe   1964    4279561.0  1.217138e+09
           1963    4140804.0  1.159512e+09
           1962    4006262.0  1.117602e+09
           1961    3876638.0  1.096647e+09
           1960    3752390.0  1.052990e+09

[11211 rows x 2 columns]

In [27]:

v = df.stack()

In [36]:
v.unstack(level=['country','year'],)

country       Arab World                                            \
year                2015          2014          2013          2012
Population  3.920223e+08  3.842226e+08  3.765043e+08  3.688026e+08
GDP         2.530102e+12  2.873600e+12  2.846994e+12  2.773270e+12

country                                                             \
year                2011          2010          2009          2008
Population  3.610318e+08  3.531122e+08  3.450542e+08  3.368865e+08
GDP         2.497945e+12  2.103825e+12  1.798878e+12  2.081343e+12

country                                 ...      Zimbabwe                \
year                2007          2006  ...          1969          1968
Population  3.287666e+08  3.209067e+08  ...  5.036321e+06  4.874113e+06
GDP         1.641666e+12  1.404190e+12  ...  1.747999e+09  1.479600e+09

country                                                             \
year                1967          1966          1965          1964
Population  4.718612e+06  4.568320e+06  4.422132e+06  4.279561e+06
GDP         1.397002e+09  1.281750e+09  1.311436e+09  1.217138e+09

country
year                1963          1962          1961          1960
Population  4.140804e+06  4.006262e+06  3.876638e+06  3.752390e+06
GDP         1.159512e+09  1.117602e+09  1.096647e+09  1.052990e+09

[2 rows x 11211 columns]