In [2]:
import pandas as pd
import datetime
from pandas_datareader import data

In [48]:
df = data.DataReader('msft',data_source='yahoo',start='2020-1-1',end=datetime.datetime.now())

In [6]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,159.352386
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,157.368179
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,157.774948
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,156.336395
2020-01-08,160.800003,157.949997,158.929993,160.089996,27746500.0,158.826569
...,...,...,...,...,...,...
2020-09-04,218.360001,205.190002,215.100006,214.250000,59664100.0,214.250000
2020-09-08,210.029999,202.199997,206.500000,202.660004,52924300.0,202.660004
2020-09-09,214.839996,206.699997,207.600006,211.289993,45679000.0,211.289993
2020-09-10,214.740005,204.110001,213.399994,205.369995,35461500.0,205.369995
2020-09-11,208.630005,201.240005,207.199997,204.029999,33576500.0,204.029999

In [16]:
df.iloc[0:10]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,159.352386
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,157.368179
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,157.774948
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,156.336395
2020-01-08,160.800003,157.949997,158.929993,160.089996,27746500.0,158.826569
2020-01-09,162.220001,161.029999,161.839996,162.089996,21385000.0,160.810776
2020-01-10,163.220001,161.179993,162.820007,161.339996,20725900.0,160.066711
2020-01-13,163.309998,161.259995,161.759995,163.279999,21626500.0,161.991394
2020-01-14,163.600006,161.720001,163.389999,162.130005,23477400.0,160.850479
2020-01-15,163.940002,162.570007,162.619995,163.179993,21417900.0,161.892197

In [23]:
df.loc[['2020-01-02','2020-01-15']]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,159.352386
2020-01-15,163.940002,162.570007,162.619995,163.179993,21417900.0,161.892197

In [24]:
df.iloc[-10:-1]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-08-28,230.639999,226.580002,228.179993,228.910004,26292900.0,228.910004
2020-08-31,228.699997,224.309998,227.000000,225.529999,28774200.0,225.529999
2020-09-01,227.449997,224.429993,225.509995,227.270004,25791200.0,227.270004
2020-09-02,232.860001,227.350006,227.970001,231.649994,34080800.0,231.649994
2020-09-03,229.309998,214.960007,229.270004,217.300003,58400300.0,217.300003
2020-09-04,218.360001,205.190002,215.100006,214.250000,59664100.0,214.250000
2020-09-08,210.029999,202.199997,206.500000,202.660004,52924300.0,202.660004
2020-09-09,214.839996,206.699997,207.600006,211.289993,45679000.0,211.289993
2020-09-10,214.740005,204.110001,213.399994,205.369995,35461500.0,205.369995

# Pandas Timestamp object

In [29]:
df.index[5]

Timestamp('2020-01-09 00:00:00')

In [49]:
df['month_name'] = df.index.month_name()

In [36]:
df

,High,Low,Open,Close,Volume,Adj Close,month_name
Date,,,,,,,
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,159.352386,January
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,157.368179,January
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,157.774948,January
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,156.336395,January
2020-01-08,160.800003,157.949997,158.929993,160.089996,27746500.0,158.826569,January
...,...,...,...,...,...,...,...
2020-09-04,218.360001,205.190002,215.100006,214.250000,59664100.0,214.250000,September
2020-09-08,210.029999,202.199997,206.500000,202.660004,52924300.0,202.660004,September
2020-09-09,214.839996,206.699997,207.600006,211.289993,45679000.0,211.289993,September
2020-09-10,214.740005,204.110001,213.399994,205.369995,35461500.0,205.369995,September
2020-09-11,208.630005,201.240005,207.199997,204.029999,33576500.0,204.029999,September

In [44]:
df.groupby('month_name')['High'].mean()

month_name
April        171.333809
August       216.278095
February     181.360000
January      164.980953
July         209.355001
June         194.665909
March        157.545001
May          184.404000
September    219.527500
Name: High, dtype: float64

# Dateoffset object

In [46]:
df.index = (df.index + pd.DateOffset(day = 5))

In [50]:
df

,High,Low,Open,Close,Volume,Adj Close,month_name
Date,,,,,,,
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,159.352386,January
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,157.368179,January
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,157.774948,January
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,156.336395,January
2020-01-08,160.800003,157.949997,158.929993,160.089996,27746500.0,158.826569,January
...,...,...,...,...,...,...,...
2020-09-04,218.360001,205.190002,215.100006,214.250000,59664100.0,214.250000,September
2020-09-08,210.029999,202.199997,206.500000,202.660004,52924300.0,202.660004,September
2020-09-09,214.839996,206.699997,207.600006,211.289993,45679000.0,211.289993,September
2020-09-10,214.740005,204.110001,213.399994,205.369995,35461500.0,205.369995,September
2020-09-11,208.630005,201.240005,207.199997,204.029999,33576500.0,204.029999,September

In [52]:
df.index + pd.tseries.offsets.BMonthEnd()

DatetimeIndex(['2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31',
               ...
               '2020-08-31', '2020-09-30', '2020-09-30', '2020-09-30',
               '2020-09-30', '2020-09-30', '2020-09-30', '2020-09-30',
               '2020-09-30', '2020-09-30'],
              dtype='datetime64[ns]', name='Date', length=176, freq=None)

In [54]:
df.index - pd.tseries.offsets.BMonthBegin()

DatetimeIndex(['2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01',
               ...
               '2020-08-03', '2020-08-03', '2020-08-03', '2020-09-01',
               '2020-09-01', '2020-09-01', '2020-09-01', '2020-09-01',
               '2020-09-01', '2020-09-01'],
              dtype='datetime64[ns]', name='Date', length=176, freq=None)

In [56]:
df.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31', '2020-01-31', '2020-01-31',
               '2020-01-31', '2020-01-31',
               ...
               '2020-08-31', '2020-09-30', '2020-09-30', '2020-09-30',
               '2020-09-30', '2020-09-30', '2020-09-30', '2020-09-30',
               '2020-09-30', '2020-09-30'],
              dtype='datetime64[ns]', name='Date', length=176, freq=None)

In [57]:
df.index + pd.tseries.offsets.BDay()

DatetimeIndex(['2020-01-03', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-13', '2020-01-14',
               '2020-01-15', '2020-01-16',
               ...
               '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
               '2020-09-04', '2020-09-07', '2020-09-09', '2020-09-10',
               '2020-09-11', '2020-09-14'],
              dtype='datetime64[ns]', name='Date', length=176, freq=None)